*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.page{
    height: 90%;
    background: url("../images/home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}