* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.page {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url(../images/bkg1.png);
    background-size: cover;
    position: relative;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.logo{
    min-width: 20%;
    margin-left: 4px;
    display: inline-block;
}
.logo span{
    width: 50px;
    height: 3px;
    background-color: #f5f2fa;
    display: inline-block;
    vertical-align: super;
}
.logo h2{
    display: inline-block;
    font-size: 29px;
    font-weight: 600;
    color:#f0edf5 ;
}
.nav{
    max-width: 70%;
}
.nav a{
    color: #111111;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    padding: 6px 89px 6px 0;
    font-size: 18px;
    font-family: 500;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.nav a:hover{
    color: #fefeff;
}
.menu{
    width: 8%;
    text-align: center;
}
.menu a{
    font-size: 31px;
}
.page-content{
    max-width: 54%;
    margin-top: 50px;
    padding: 0 50px;
}
.page-content h2{
    font-size: 136px;
    color: red;
}
.page-content p{
    color: black;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 40px;
    width: 80%;
}
.social{
    position: absolute;
    left: 50px;
    bottom: 37px;
}
.social a{
    display: inline-block;
    font-size: 20px;
    margin-left: 7px;
    color: cornsilk;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transitiom: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.social a:hover{
    transform: translateY(-9px);
    -webkit-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -o-transform: translateY(-9px);
}
.shap1{
    position: absolute;
    max-width: 57%;
    right: 25%;
    top: 98px;
}