body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(127,255,212);
    color: black;
}
#title{
    background-color: aquamarine;
    color: black;
    text-align: center;
    width: 100%;
    margin: auto;
}
#description{
    text-align: center;
}
#text{
    text-align: center;
    margin-top: 10px;
}
.container{
    width: 80%;
    margin: auto;
    background-color: white;
    color: black;
    padding: 15px;
}
#survey-form{
    text-align: center;
}
.row-tab{
    display: block;
    padding-bottom: 20px;
}
.label-tab{
    display: inline-block;
    width: 44%;
    text-align: right;
    vertical-align: top;
}
.input-tab{
    display: inline-block;
    width: 54%;
    text-align: left;
}
.select-tab{
    display: inline-block;
    width: 54%;
    text-align: left;
}
#select-box{
    padding: 5px,0px;
    text-align:right;
}
